body {
    position: relative;
}

.row-left {
    width: 33.33%;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
}

.row-centr {
    width: 33.33%;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
}

.row-right {
    width: 33.33%;
    height: 100%;
    float: left;
    display: block;
    text-align: center;
}

.casa-gray {
    width: 100%;
    height: 50%;
    background: rgba(86, 76, 94, 0.8);
    -webkit-transition: background 1s;
    transition: background 1s;
    position: relative;
    cursor: pointer;
}

.metro-gray {
    width: 100%;
    height: 50%;
    background: rgba(86, 76, 94, 0.8);
    -webkit-transition: background 1s;
    transition: background 1s;
    position: relative;
    cursor: pointer;
}

.hostel-gray, .positiff-gray {
    width: 100%;
    height: 50%;
    background: rgba(86, 76, 94, 0.8);
    -webkit-transition: background 1s;
    transition: background 1s;
    position: relative;
    cursor: pointer;
}

.positiff-gray:hover {
    background: rgba(86, 76, 94, 0);
}

.positiff-gray:hover .pozitiff-image {
    filter: none;
}


.nton-gray {
    width: 100%;
    height: 50%;
    background: rgba(86, 76, 94, 0.8);
    -webkit-transition: background 1s;
    transition: background 1s;
    position: relative;
    cursor: pointer;
}

.volter-gray {
    width: 100%;
    height: 50%;
    background: rgba(86, 76, 94, 0.8);
    -webkit-transition: background 1s;
    transition: background 1s;
    position: relative;
    cursor: pointer;
}

.casa-gray:hover {
    background: rgba(86, 76, 94, 0.6);
}

.casa-gray:hover .casa-image {
    filter: none;
}

.hostel-gray:hover {
    background: rgba(86, 76, 94, 0.6);
}

.hostel-gray:hover .hostel-image {
    filter: none;
}

.metro-gray:hover {
    background: rgba(86, 76, 94, 0.6);
}

.metro-gray:hover .metro-image {
    filter: none;
}

.nton-gray:hover {
    background: rgba(86, 76, 94, 0.6);
}

.nton-gray:hover .nton-image {
    filter: none;
}

.volter-gray:hover {
    background: rgba(86, 76, 94, 0.6);
}

.volter-gray:hover .volter-image {
    filter: none;
}

.casa-image {
    width: 100%;
    height: 100%;
    background: url(images/casa_color.jpg) center no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    filter: grayscale(1);
}

.hostel-image, .pozitiff-image {
    width: 100%;
    height: 100%;
    z-index: -2;
    position: relative;
    filter: grayscale(1);
}
.hostel-image{
    background: url(images/hostel_color.jpg) center no-repeat;
    background-size: cover;
}
.pozitiff-image {
    background: url(images/pozitiff.png) center no-repeat;
    background-size: cover;
}

.metro-image {
    width: 100%;
    height: 100%;
    background: url(images/metro_color.jpg) left center no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    filter: grayscale(1);

}

.nton-image {
    width: 100%;
    height: 100%;
    background: url(images/nton_color.jpg) center no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    filter: grayscale(1);

}

.volter-image {
    width: 100%;
    height: 100%;
    background: url(images/volter_color.jpg) center no-repeat;
    background-size: cover;
    z-index: -2;
    position: relative;
    filter: grayscale(1);
}

.social {
    width: 100%;
    height: 25%;
    bottom: 3%;
    position: absolute;
    color: #ffffff;
    visibility: hidden;
}

.casa-gray:hover .social {
    visibility: visible;
}

.hostel-gray:hover .social {
    visibility: visible;
}

.metro-gray:hover .social {
    visibility: visible;
}
.positiff-gray:hover .social {
    visibility: visible;
}

.volter-gray:hover .social {
    visibility: visible;
}

.nton-gray:hover .social {
    visibility: visible;
}

.logo {
    position: absolute;
    bottom: 35%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 30%;
    margin: auto;
    z-index: 999;
}

span {
    font-family: Roboto, sans-serif;
    font-weight: 500;
}

.mybtn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 1vw;
    padding: 5px;
    border: solid #ffffff 1px;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px 0 10px;
    background-color: transparent;

}

.mybtn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #564c5e;
    -webkit-transition: background 1s;
    transition: background 1s;
}

.mybtn:visited {
    color: #ffffff;
    text-decoration: none;
}

.mybtn:link {
    color: #ffffff;
    text-decoration: none;
}

i {
    padding: 3px 6px 3px 6px;
}

@media screen and (min-width: 480px) and (max-width: 800px) {
    .mybtn {
        font-size: 2vw;
        padding: 3px 7px 3px 7px;
        margin: 3px 3px 0 3px;
        font-weight: 500;

    }

    span {
        font-size: 3vw;
    }

    i {
        padding: 4px 2px 4px 2px;
    }

}

@media screen and (max-width: 479px) {
    .row-left {
        width: 100%;
        height: 33.3333%;
    }

    .row-centr {
        width: 100%;
        height: 33.3333%;
    }

    .row-right {
        width: 100%;
        height: 33.3333%;
    }

    .casa-gray:hover .logo {
        bottom: 50%;
        width: 40%;
        height: 40%;
    }

    .hostel-gray:hover .logo {
        bottom: 50%;
        width: 40%;
        height: 40%;
    }

    .metro-gray:hover .logo {
        bottom: 50%;
        width: 40%;
        height: 40%;
    }

    .volter-gray:hover .logo {
        bottom: 50%;
        width: 40%;
        height: 40%;
    }

    .nton-gray:hover .logo {
        bottom: 50%;
        width: 40%;
        height: 40%;
    }

    .mybtn {
        font-size: 4.5vw;
        padding: 2px 5px 1px 5px;
        margin: 3px 3px 0 3px;
        font-weight: 700;

    }

    i {
        padding: 3px 3px 2px 3px;
    }

    .social {
        bottom: 15%;
        width: 100%;
        height: 25%;

    }

    .logo {
        bottom: 10%;
        left: 10%;
        right: 10%;
        width: 80%;
        height: 80%;
    }

    span {
        font-size: 4vw;
    }
}